@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Display', sans-serif;
  list-style: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

/* HEADER CON BOOTSTRAP */
header {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 2rem;
  background: #0b090a; }
  header nav div a {
    list-style: none;
    transition: all 0.4s !important;
    text-decoration: none;
    color: #fff !important;
    margin-left: 4rem !important; }
    header nav div a:hover {
      transform: translate(0, 0.5rem);
      transition: all 0.3s;
      text-shadow: 0 0 2rem #a70a85, 0 0 2rem #a70a85, 0 0 2rem #a70a85, 0 0 2rem #a70a85; }

.movimientoImg {
  transition: all 0.4s; }
  .movimientoImg:hover {
    transform: scale(1.02, 1.02);
    transition: all .3s; }

.logo {
  margin-left: 3rem;
  transition: all 0.3s; }
  .logo:hover {
    transform: translate(0, 0.5rem);
    transition: all 0.3s; }

/* FOOTER CON FLEXBOX */
footer {
  grid-area: footer;
  background-color: #0b090a;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  footer nav .logoInsta {
    width: 60px;
    margin: 1.5rem 4rem 1.5rem 1.5rem;
    transition: all .35s; }
    footer nav .logoInsta:hover {
      transform: rotateY(180deg);
      transition: all .35s; }
  footer p {
    text-align: center;
    margin: 0 0 0 15rem;
    font-size: 2rem !important;
    color: #ffff; }

/* BOTONES */
.botonLanzamientos {
  display: inline-block;
  margin-top: 6rem;
  background: #06d6a0;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer; }
  .botonLanzamientos a {
    color: #fff !important; }

/* PÁGINAS DE PRODUCTOS */
.marcas {
  align-items: center;
  grid-area: marcas;
  text-align: center; }
  .marcas h1 {
    display: block;
    color: #fff;
    font-size: 6rem;
    font-weight: 600; }
  .marcas p {
    width: 90rem;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 2.5rem;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.6); }
  .marcas .productoPrincipal {
    text-align: center;
    color: #fff;
    font-size: 4rem;
    margin: 2rem;
    font-weight: 600;
    background-color: transparent !important;
    display: inline-block; }

.productosGeneral {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center; }
  .productosGeneral .info h2 {
    font-size: 5rem; }
  .productosGeneral .info p {
    font-size: 3.5rem; }
  .productosGeneral .info a {
    font-size: 2.5rem; }

/* CONTENEDOR PRINCIPAL CON FLEXBOX*/
.contenedorUno {
  background-image: url(../multimedia/imagenFondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center; }

.imagen {
  width: 60rem;
  margin: 0 2rem;
  transition: all .3s; }
  .imagen:hover {
    transform: scale(1.02, 1.02);
    transition: all .3s; }

.divMain {
  color: #ffff;
  text-align: left;
  font-size: 1.5rem;
  /* OPERACIONES CON UNA VARIABLE */ }
  .divMain h1 {
    margin-top: 0rem;
    font-size: 8rem;
    padding-bottom: 1rem;
    color: #ffff;
    text-shadow: 0 0 2rem #a70a85, 0 0 20px #a70a85, 0 0 2rem #a70a85, 0 0 2rem #a70a85; }
  .divMain h2 {
    display: block;
    font-size: 4rem;
    width: 60rem;
    height: 4rem;
    line-height: 4rem;
    overflow: hidden; }

.divEfecto ul {
  list-style: none;
  animation: cambiar 10s infinite; }

@keyframes cambiar {
  0% {
    margin-top: -0.5rem; }
  20% {
    margin-top: -0.5rem; }
  25% {
    margin-top: -4.5rem; }
  50% {
    margin-top: -4.5rem; }
  55% {
    margin-top: -8.5rem; }
  80% {
    margin-top: -8.5rem; }
  85% {
    margin-top: -4.5rem; }
  95% {
    margin-top: -4.5rem; }
  100% {
    margin-top: -0.5rem; } }

/* SECTION DE MARCAS CON GRID*/
.samsung {
  grid-area: sam;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url(../multimedia/fondoSam.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #ffff; }
  .samsung .divTituloMarca h3 {
    color: #ffff; }

.contenedorMarcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: auto;
  grid-template-areas: "moto moto" "apple apple" "sam sam" "footer footer";
  font-size: 2rem; }
  .contenedorMarcas .motorola img {
    height: 57rem;
    margin-top: 3rem;
    margin-left: -6.2; }
  .contenedorMarcas .samsung img {
    height: 55rem;
    margin-top: 3rem; }
  .contenedorMarcas .apple img {
    height: 53rem;
    margin: 3rem -5rem 0 -3rem; }

.fotoMarca {
  transition: all .35s;
  height: 600px; }
  .fotoMarca:hover {
    transform: scale(0.975, 0.975);
    transition: all .5s;
    cursor: pointer; }

.apple {
  grid-area: apple;
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly; }

.divTituloMarca {
  margin-top: 6rem;
  text-align: center;
  font-size: 2rem; }
  .divTituloMarca p {
    margin-top: 3.75rem;
    font-size: 3rem; }
  .divTituloMarca h3 {
    font-size: 7rem;
    color: #0b090a; }

.motorola {
  grid-area: moto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url(https://www.wallpapertip.com/wmimgs/91-918967_thumb-image-transparent-abstract-background-png.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.enlaceMarcas {
  text-decoration: none;
  list-style: none; }

article {
  border-top: 1.5rem #0b090a solid; }
  article a {
    text-decoration: none;
    padding: 1.6rem; }

@media (max-width: 768px) {
  .botonLanzamientos {
    margin-top: 1rem; }
  .divMain {
    margin-bottom: 2rem; }
    .divMain h1 {
      margin-top: 5rem; }
  .contenedorMarcas .apple img {
    margin: 3rem 20rem 0 20rem; }
  .divTituloMarca {
    margin-top: 0rem; }
    .divTituloMarca p {
      margin-top: 0; }
  .imagen:hover {
    transform: none; }
  .navbar-toggler {
    margin-right: 5rem; } }

@media (max-width: 375px) {
  header {
    font-size: 2rem; }
  body {
    height: auto;
    width: max-content;
    max-width: 60rem;
    margin: 0;
    font-size: 50%; }
  h2 ul li {
    margin-left: 5rem;
    font-size: 100%; }
  .divMain {
    margin-bottom: 2rem; }
    .divMain h1 {
      font-size: 6rem;
      margin-left: 6rem;
      margin-top: 5rem; }
  .divTituloMarca {
    margin-top: 0rem; }
    .divTituloMarca p {
      margin-top: 0; }
  .imagen {
    width: 55rem; }
    .imagen:hover {
      transform: none; }
  .botonLanzamientos {
    margin-top: 1rem; }
    .botonLanzamientos a {
      font-size: 100%; }
  .contenedorMarcas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: max-content;
    max-width: 60rem; }
    .contenedorMarcas .divTituloMarca {
      height: 15rem; }
    .contenedorMarcas .apple img {
      margin-top: 15rem; }
    .contenedorMarcas .motorola img {
      height: 55rem;
      margin-top: 12rem; }
    .contenedorMarcas .samsung img {
      height: 55rem;
      margin-top: 12rem; }
  .navbar-toggler {
    margin-right: 5rem; }
  footer p {
    font-size: 1.5rem;
    margin: 0 0 0 2rem; } }

body {
  background-image: url(../multimedia/fondoNosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.footerNos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "footer footer footer"; }

.footer {
  grid-area: footer; }

nav .logoInsta {
  width: 60px;
  margin: 1.5rem 4rem 1.5rem 1.5rem;
  transition: all .35s; }
  nav .logoInsta:hover {
    transform: rotateY(180deg);
    transition: all .35s; }

p {
  text-align: center;
  margin: 0 0 0 15rem;
  font-size: 2rem !important;
  color: #ffff; }

.contenedorNosotros {
  height: 100vh;
  text-align: center; }
  .contenedorNosotros h1 {
    margin: 5rem 0 3rem 0;
    display: block;
    font-size: 5rem;
    color: #fff; }
  .contenedorNosotros .contenedorPresentación {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    text-align: center; }
    .contenedorNosotros .contenedorPresentación p {
      margin: 3rem 5rem 3rem 5rem;
      font-size: 2.5rem;
      color: #fff; }

@media (max-width: 375px) {
  html {
    width: max-content;
    max-width: 37.5rem; }
  header {
    font-size: 3rem; }
  .contenedorNosotros h1 {
    margin: 3rem; }
  .contenedorPresentación {
    margin: 0; }
  footer p {
    font-size: 1.5rem;
    margin: 0 0 0 2rem; } }

.marcaProductos2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.95fr 1fr 1fr 1fr .05fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "marcas marcas marcas" "productoMoto1 productoMoto1 productoMoto1" "productoMoto2 productoMoto2 productoMoto2" "productoMoto3 productoMoto3 productoMoto3" "footer footer footer"; }

.h1Moto {
  margin: 7rem 1rem 1rem 1.5rem; }

.imgMoto1 {
  width: 65rem; }

.imgMoto2 {
  width: 75rem; }

.imgMoto3 {
  width: 50rem; }

.marcasMoto {
  background-image: url(../multimedia/fondoOsc2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.productoMoto1 {
  grid-area: productoMoto1;
  background-image: url(../multimedia/fondo-naranja-textura.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .productoMoto1 img {
    margin-top: 5rem; }

.productoMoto2 {
  grid-area: productoMoto2;
  background-image: url(../multimedia/fondoOsc2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.productoMoto3 {
  grid-area: productoMoto3;
  background-image: url(../multimedia/fondoApple3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.infoAcomodar {
  margin: 2rem 0 0 15rem; }

.info h2 {
  font-size: 5rem;
  color: #fff; }

.info p {
  font-size: 3.5rem;
  color: #fff; }

.info a {
  font-size: 2.5rem;
  color: #fff; }

@media (max-width: 768px) {
  header {
    font-size: 3rem; }
  .marcaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.95fr 1fr 1fr 1fr .05fr;
    gap: 0px 0px;
    width: max-content;
    max-width: 150rem; }
  body {
    height: auto;
    width: max-content;
    max-width: 150rem; }
  .botonLanzamientos {
    margin-top: 1rem; }
  .productoMoto1 .info {
    margin: 0 10rem 0 0rem; }
  .infoAcomodar {
    margin: 7rem 0 0 0; }
    .infoAcomodar .navbar-toggler {
      margin-right: 5rem; } }

@media (max-width: 375px) {
  html {
    width: 375px;
    max-width: 375px; }
  header {
    font-size: 3rem; }
  .marcaProductos {
    width: max-content;
    max-width: 100rem; }
  body {
    height: auto;
    width: max-content;
    max-width: 375px;
    margin: 0;
    font-size: 50%; } }

.productoMoto1 .info {
  margin: 0 10rem; }

.productoMoto1 img {
  margin: -5rem 0 0 0; }

.infoAcomodar {
  margin: 7rem 0 0 0; }

.imgMoto3 {
  margin: 0 10rem 0 10rem; }

footer p {
  font-size: 1.5rem;
  margin: 0 0 0 2rem; }

.marcaProductos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.95fr 1fr 1fr 1fr 1fr .05fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "marcas marcas marcas" "producto1 producto1 producto1" "producto2 producto2 producto2" "producto3 producto3 producto3" "producto4 producto4 producto4" "footer footer footer"; }

.h1Apple {
  margin: 7rem 1rem 1rem 1.5rem; }

.imgProdIphone13 {
  width: 45rem !important; }

.imgProducto {
  width: 70rem; }

.imgProducto2 {
  width: 80rem; }

.marcasApple {
  background-image: url(https://www.gadgetsinnepal.com.np/wp-content/uploads/2021/09/iPhone-13-mini-official-price-in-Nepal-1-1200x688.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.producto1 {
  grid-area: producto1;
  background-image: url(../multimedia/fondoApple1.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.producto2 {
  grid-area: producto2;
  background-image: url(../multimedia/fondoApple2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.producto3 {
  grid-area: producto3;
  background-image: url(../multimedia/fondoApple3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.producto4 {
  grid-area: producto4;
  background-image: url(../multimedia/fondoApple4.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.infoAcomodar {
  margin: 2rem 0 0 15rem; }

.info h2 {
  font-size: 5rem;
  color: #fff; }

.info p {
  font-size: 3.5rem;
  color: #fff; }

.info a {
  font-size: 2.5rem;
  color: #fff; }

@media (max-width: 768px) {
  header {
    font-size: 3rem; }
  .marcaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.95fr 1fr 1fr 1fr 1fr .05fr;
    gap: 0px 0px;
    width: max-content;
    max-width: 150rem; }
  body {
    height: auto;
    width: max-content;
    max-width: 150rem; }
  .botonLanzamientos {
    margin-top: 1rem; }
  .producto1 .info {
    margin: 0 10rem !important; }
  .producto1 img {
    margin: -10rem 10rem 0 10rem !important; }
  .infoAcomodar {
    margin: 7rem 0 0 0; }
  .imgProducto2 {
    margin-top: -15rem; }
  .navbar-toggler {
    margin-right: 5rem; } }

@media (max-width: 375px) {
  html {
    width: max-content;
    max-width: 100rem; }
  header {
    font-size: 3rem; }
  .marcaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.95fr 1fr 1fr 1fr 1fr .05fr;
    gap: 0px 0px;
    width: max-content;
    max-width: 100rem; }
  body {
    height: auto;
    width: max-content;
    max-width: 100rem;
    margin: 0;
    font-size: 50%; }
  .producto1 .info {
    margin: 0 10rem !important; }
  .producto1 img {
    margin: -10rem 10rem 0 10rem !important; }
  .infoAcomodar {
    margin: 7rem 0 0 0; }
  .imgProducto2 {
    margin-top: -15rem; }
  footer p {
    font-size: 1.5rem;
    margin: 0 0 0 2rem; } }

.marcaProductos3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.95fr 1fr 1fr 1fr .05fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "marcas marcas marcas" "productoSam1 productoSam1 productoSam1" "productoSam2 productoSam2 productoSam2" "productoSam3 productoSam3 productoSam3" "footer footer footer"; }

.h1Sam {
  margin: 7rem 1rem 1rem 1.5rem; }

.imgSam1 {
  width: 40rem; }

.imgSam2 {
  width: 53rem; }

.imgSam3 {
  width: 55rem;
  margin: 0 -10rem 0 -5rem; }

.marcasSam {
  background-image: url(../multimedia/fondoOscuro.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.productoSam1 {
  grid-area: productoSam1;
  background-image: url(../multimedia/fondoVioleta.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.productoSam2 {
  grid-area: productoSam2;
  background-image: url(../multimedia/fondoAzul.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.productoSam3 {
  grid-area: productoSam3;
  background-image: url(../multimedia/fondoGalaxia.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.infoAcomodar {
  margin: 2rem 0 0 15rem; }

.info h2 {
  font-size: 5rem;
  color: #fff; }

.info p {
  font-size: 3.5rem;
  color: #fff; }

.info a {
  font-size: 2.5rem;
  color: #fff; }

@media (max-width: 768px) {
  header {
    font-size: 3rem; }
  .marcaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.95fr 1fr 1fr 1fr .05fr;
    gap: 0px 0px;
    width: max-content;
    max-width: 150rem; }
  body {
    height: auto;
    width: max-content;
    max-width: 150rem; }
  .botonLanzamientos {
    margin-top: 1rem; }
  .productoSam1 .info {
    margin: 0 10rem 0 0rem; }
  .infoAcomodar {
    margin: 7rem 0 0 0; }
    .infoAcomodar .navbar-toggler {
      margin-right: 5rem; } }

@media (max-width: 375px) {
  html {
    width: max-content;
    max-width: 100rem; }
  header {
    font-size: 3rem; }
  .marcaProductos {
    width: max-content;
    max-width: 100rem; }
  body {
    height: auto;
    width: max-content;
    max-width: 100rem;
    margin: 0;
    font-size: 50%; } }

.productoSam1 .info {
  margin: 0 10rem; }

.productoSam1 img {
  margin: -5rem 0 0 0; }

.infoAcomodar {
  margin: 7rem 0 0 0; }

.imgSam3 {
  margin: 0 10rem 0 10rem; }

footer p {
  font-size: 1.5rem;
  margin: 0 0 0 2rem; }

.contenedor404 h1 {
  text-align: center;
  font-size: 4.5rem;
  color: #a70a85; }

.contenedor404 p {
  text-align: center;
  color: black;
  font-size: 2rem; }
