@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Noto Sans Display', sans-serif;
  list-style: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

/* HEADER CON BOOTSTRAP */
header {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 2rem;
  background: #0b090a; }
  header nav div a {
    list-style: none;
    transition: all 0.4s !important;
    text-decoration: none;
    color: #fff !important;
    margin-left: 4rem !important; }
    header nav div a:hover {
      transform: translate(0, 0.5rem);
      transition: all 0.3s;
      text-shadow: 0 0 2rem #a70a85, 0 0 2rem #a70a85, 0 0 2rem #a70a85, 0 0 2rem #a70a85; }

.movimientoImg {
  transition: all 0.4s; }
  .movimientoImg:hover {
    transform: scale(1.02, 1.02);
    transition: all .3s; }

.logo {
  margin-left: 3rem;
  transition: all 0.3s; }
  .logo:hover {
    transform: translate(0, 0.5rem);
    transition: all 0.3s; }

/* FOOTER CON FLEXBOX */
footer {
  grid-area: footer;
  background-color: #0b090a;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  footer nav .logoInsta {
    width: 60px;
    margin: 1.5rem 4rem 1.5rem 1.5rem;
    transition: all .35s; }
    footer nav .logoInsta:hover {
      transform: rotateY(180deg);
      transition: all .35s; }
  footer p {
    text-align: center;
    margin: 0 0 0 15rem;
    font-size: 2rem !important;
    color: #ffff; }

/* BOTONES */
.botonLanzamientos {
  display: inline-block;
  margin-top: 6rem;
  background: #06d6a0;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer; }
  .botonLanzamientos a {
    color: #fff !important; }

/* PÁGINAS DE PRODUCTOS */
.marcas {
  align-items: center;
  grid-area: marcas;
  text-align: center; }
  .marcas .contenedorTextoMarcas {
    width: max-content;
    max-width: 100%; }
    .marcas .contenedorTextoMarcas h1 {
      text-align: center;
      display: block;
      color: #fff;
      font-size: 6rem;
      font-weight: 600; }
    .marcas .contenedorTextoMarcas p {
      text-align: center;
      display: inline-block;
      color: #fff;
      font-size: 2.5rem;
      background-color: rgba(0, 0, 0, 0.6);
      margin: 2rem auto;
      padding: 1.5rem; }
    .marcas .contenedorTextoMarcas .productoPrincipal {
      text-align: center;
      color: #fff;
      font-size: 4rem;
      font-weight: 600;
      background-color: transparent !important;
      display: block; }

.productosGeneral {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center; }
  .productosGeneral .info h2 {
    font-size: 5rem; }
  .productosGeneral .info p {
    font-size: 3.5rem; }
  .productosGeneral .info a {
    font-size: 2.5rem; }

/* CONTENEDOR PRINCIPAL CON FLEXBOX*/
.contenedorUno {
  background-image: url(../multimedia/imagenFondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%; }

.imagen {
  width: 60rem;
  margin: 0 2rem;
  transition: all .3s; }
  .imagen:hover {
    transform: scale(1.02, 1.02);
    transition: all .3s; }

.divMain {
  color: #ffff;
  text-align: left;
  font-size: 1.5rem;
  /* OPERACIONES CON UNA VARIABLE */ }
  .divMain h1 {
    width: 100%;
    margin-top: 0rem;
    font-size: 8rem;
    padding-bottom: 1rem;
    color: #ffff;
    text-shadow: 0 0 2rem #a70a85, 0 0 20px #a70a85, 0 0 2rem #a70a85, 0 0 2rem #a70a85; }
  .divMain h2 {
    width: 100%;
    display: block;
    font-size: 4rem;
    width: 60rem;
    height: 4rem;
    line-height: 4rem;
    overflow: hidden; }

.divEfecto ul {
  list-style: none;
  animation: cambiar 10s infinite; }

@keyframes cambiar {
  0% {
    margin-top: -0.5rem; }
  20% {
    margin-top: -0.5rem; }
  25% {
    margin-top: -4.5rem; }
  50% {
    margin-top: -4.5rem; }
  55% {
    margin-top: -8.5rem; }
  80% {
    margin-top: -8.5rem; }
  85% {
    margin-top: -4.5rem; }
  95% {
    margin-top: -4.5rem; }
  100% {
    margin-top: -0.5rem; } }

/* SECTION DE MARCAS CON GRID*/
.samsung {
  grid-area: sam;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url(../multimedia/fondoSam.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #ffff; }

.contenedorMarcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: auto;
  grid-template-areas: "moto moto" "apple apple" "sam sam" "footer footer";
  font-size: 2rem; }
  .contenedorMarcas .motorola img {
    height: 57rem;
    margin-top: 3rem;
    margin-left: -6.2; }
  .contenedorMarcas .samsung img {
    height: 55rem;
    margin-top: 3rem; }
  .contenedorMarcas .apple img {
    height: 53rem;
    margin: 0; }

.fotoMarca {
  transition: all .35s;
  height: 60rem; }
  .fotoMarca:hover {
    transform: scale(0.975, 0.975);
    transition: all .5s;
    cursor: pointer; }

.apple {
  grid-area: apple;
  background: #12c2e9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly; }

.divTituloMarca {
  margin-top: 6rem;
  text-align: center;
  font-size: 2rem; }
  .divTituloMarca p {
    color: #ffff;
    margin: 3.75rem 0 0 0;
    font-size: 3rem; }
  .divTituloMarca h3 {
    font-size: 7rem;
    color: #ffff; }

.motorola {
  grid-area: moto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url(../multimedia/fondoAzul.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.enlaceMarcas {
  text-decoration: none;
  list-style: none; }

article {
  border-top: 1.5rem #0b090a solid; }
  article a {
    text-decoration: none;
    padding: 1.6rem; }

.contenedorGlobal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.8fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contenedorGlob contenedorGlob contenedorGlob" "footer footer footer";
  background-image: url(../multimedia/fondoNosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.contenedorGlob {
  grid-area: contenedorGlob;
  width: 100%;
  max-width: 100vw; }
  .contenedorGlob h1 {
    font-size: 6rem;
    color: #fff;
    text-align: center;
    margin: 2rem auto;
    width: 80%; }
  .contenedorGlob p {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin: 2rem auto;
    width: 50%; }

.marcaProductos2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.95fr 1fr 1fr 1fr .05fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "marcas marcas marcas" "productoMoto1 productoMoto1 productoMoto1" "productoMoto2 productoMoto2 productoMoto2" "productoMoto3 productoMoto3 productoMoto3" "footer footer footer"; }

.h1Moto {
  margin: 7rem 1rem 1rem 1.5rem; }

.imgMoto1 {
  width: 50rem;
  margin-top: 5rem; }

.imgMoto2 {
  width: 50rem;
  margin-right: -11rem;
  margin-left: 5rem; }

.imgMoto3 {
  width: 50rem;
  margin-left: 12.5rem; }

.marcasMoto {
  background-image: url(../multimedia/fondoOsc2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.productoMoto1 {
  grid-area: productoMoto1;
  background-image: url(../multimedia/fondo-naranja-textura.png);
  background-size: cover;
  background-repeat: no-repeat; }

.productoMoto2 {
  grid-area: productoMoto2;
  background-image: url(../multimedia/fondoGris.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.productoMoto3 {
  grid-area: productoMoto3;
  background-image: url(../multimedia/fondoApple3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.info h2 {
  font-size: 5rem;
  color: #fff; }

.info p {
  font-size: 3.5rem; }

.info a {
  font-size: 2.5rem;
  color: #fff; }

@media screen and (max-width: 1024px) {
  .imgMoto2 {
    width: 50rem;
    margin-right: 0;
    margin-left: 0; }
  .imgMoto3 {
    width: 50rem;
    margin: 7rem; } }

.marcaProductos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.95fr 1fr 1fr 1fr 1fr .05fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "marcas marcas marcas" "producto1 producto1 producto1" "producto2 producto2 producto2" "producto3 producto3 producto3" "producto4 producto4 producto4" "footer footer footer"; }

.h1Apple {
  margin: 7rem 1rem 1rem 1.5rem; }

.imgProdIphone13 {
  width: 42rem !important; }

.imgProducto {
  width: 45rem;
  margin: 2.5rem; }

.imgProducto2 {
  width: 45rem;
  margin: 2.5rem; }

.marcasApple {
  background-image: url(https://www.gadgetsinnepal.com.np/wp-content/uploads/2021/09/iPhone-13-mini-official-price-in-Nepal-1-1200x688.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.producto1 {
  grid-area: producto1;
  background-image: url(../multimedia/fondoApple1.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.producto2 {
  grid-area: producto2;
  background-image: url(../multimedia/fondoApple2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.producto3 {
  grid-area: producto3;
  background-image: url(../multimedia/fondoApple3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.producto4 {
  grid-area: producto4;
  background-image: url(../multimedia/fondoApple4.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.info h2 {
  font-size: 5rem;
  color: #fff; }

.info p {
  font-size: 3.5rem;
  color: #fff; }

.info a {
  font-size: 2.5rem;
  color: #fff; }

.marcaProductos3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.95fr 1fr 1fr 1fr .05fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "marcas marcas marcas" "productoSam1 productoSam1 productoSam1" "productoSam2 productoSam2 productoSam2" "productoSam3 productoSam3 productoSam3" "footer footer footer"; }

.h1Sam {
  margin: 7rem 1rem 1rem 1.5rem; }

.imgSam1 {
  width: 40rem; }

.imgSam2 {
  width: 40rem; }

.imgSam3 {
  width: 55rem;
  margin: 0 -10rem 0 -5rem; }

.marcasSam {
  background-image: url(../multimedia/fondoOscuro.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.productoSam1 {
  grid-area: productoSam1;
  background-image: url(../multimedia/fondoVioleta.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.productoSam2 {
  grid-area: productoSam2;
  background-image: url(../multimedia/fondoAzul.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.productoSam3 {
  grid-area: productoSam3;
  background-image: url(../multimedia/fondoGalaxia.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.info h2 {
  font-size: 5rem;
  color: #fff; }

.info p {
  font-size: 3.5rem;
  color: #fff; }

.info a {
  font-size: 2.5rem;
  color: #fff; }

.contenedorGlob {
  grid-area: contenedorGlob;
  width: 100%;
  max-width: 100vw; }
  .contenedorGlob .h1404 {
    font-size: 6rem;
    color: #fff;
    text-align: center;
    margin: 10% auto 5% auto;
    width: 90%; }
  .contenedorGlob .p404 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin: 0 auto 25% auto;
    width: 50%; }

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    max-width: 768px;
    font-size: 2rem; }
    body h1 {
      font-size: 4rem;
      width: 100%;
      max-width: 768px !important;
      text-align: center; }
    body h2 {
      font-size: 2.5rem;
      width: 100%;
      max-width: 768px; }
    body a {
      font-size: 2rem; }
    body p {
      font-size: 2rem; }
  .divTituloMarca {
    margin: 0 6rem; }
  .marcas .contenedorTextoMarcas p {
    margin: 2rem auto;
    font-size: 2rem; }
  .marcas .contenedorTextoMarcas h1 {
    font-size: 4rem;
    max-width: 80%;
    margin: 2rem  auto; }
  .marcas .contenedorTextoMarcas .productoPrincipal {
    font-size: 3rem; }
  .h1Moto {
    margin: 2rem 0; }
  .divMain {
    width: 100%;
    max-width: 768px; }
    .divMain h1 {
      font-size: 7rem;
      max-width: 80%;
      margin: 2rem  auto; }
    .divMain h2 {
      font-size: 3.5rem;
      max-width: 80%;
      margin: 2rem 0 2rem 10.5rem; }
  .productosGeneral .info {
    margin: 2rem 7rem; }
    .productosGeneral .info h2 {
      font-size: 2.5rem; }
    .productosGeneral .info p {
      font-size: 2rem; }
    .productosGeneral .info a {
      font-size: 1.5rem; }
  .botonLanzamientos {
    margin-top: 2rem; }
  /* PAG MOTOROLA */
  .marcasMoto .info {
    margin: 10rem; }
  .imgMoto1 {
    margin: 0;
    width: 50rem; }
  .imgMoto2 {
    margin: 0;
    width: 50rem; }
  .imgMoto3 {
    margin: 0;
    width: 50rem; }
  button {
    margin-right: 5rem; }
  .imgSam1 {
    width: 40rem;
    margin: 2rem 5rem; }
  .imgSam2 {
    width: 40rem; }
  .imgSam3 {
    width: 55rem;
    margin: 2rem -10rem 2rem -5rem; }
  .contenedorGlob {
    grid-area: contenedorGlob;
    background-image: url(../multimedia/fondoNosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    max-width: 768px; }
    .contenedorGlob h1 {
      font-size: 6rem;
      color: #fff;
      text-align: center;
      margin: 2rem auto;
      width: 80%; }
    .contenedorGlob p {
      font-size: 3rem;
      color: #fff;
      text-align: center;
      margin: 1rem auto; } }

@media screen and (max-width: 375px) {
  body {
    width: 100%;
    max-width: 375px;
    font-size: 2rem; }
    body h1 {
      font-size: 4rem; }
    body h2 {
      font-size: 2.5rem; }
    body a {
      font-size: 1.5rem;
      max-width: 100%; }
    body p {
      font-size: 2rem; }
  button {
    margin-right: 3rem; }
  .divTituloMarca {
    margin: 0 6rem; }
    .divTituloMarca h3 {
      font-size: 3.5rem; }
    .divTituloMarca p {
      font-size: 2rem;
      margin: 0; }
  .botonLanzamientos {
    margin-top: 2rem; }
  .divMain {
    width: 100%;
    max-width: 375px; }
    .divMain h1 {
      font-size: 4rem;
      width: 80%;
      max-width: 375px;
      margin: 2rem auto; }
    .divMain h2 {
      font-size: 2.5rem;
      width: 80%;
      max-width: 375px;
      margin: 1rem 0 1rem 2rem; }
  .contenedorMarcas .apple img {
    margin: 0 !important; }
  .contenedorPrincipal {
    max-width: 375px; }
  .imagen {
    width: 85%; }
  .contenedorMarcas .motorola img {
    height: 30rem; }
  .contenedorMarcas .samsung img {
    height: 30rem; }
  .contenedorMarcas .apple img {
    height: 30rem;
    margin: 0; }
  footer p {
    margin: 0; }
  /* PÁG MOTOROLA */
  .marcaProductos2 {
    width: 100%;
    max-width: 375px; }
  .marcasMoto {
    width: 100%;
    max-width: 375px; }
  .marcas .contenedorTextoMarcas {
    width: max-content;
    max-width: 375px; }
    .marcas .contenedorTextoMarcas p {
      margin: 2rem auto; }
  .imgMoto1 {
    margin: 0;
    width: 35rem; }
  .imgMoto2 {
    margin: 0;
    width: 35rem; }
  .imgMoto3 {
    margin: 0;
    width: 35rem; }
  .marcaProductos2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.95fr .5fr .5fr .5fr .05fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "marcas marcas marcas" "productoMoto1 productoMoto1 productoMoto1" "productoMoto2 productoMoto2 productoMoto2" "productoMoto3 productoMoto3 productoMoto3" "footer footer footer"; }
  .productosGeneral .info h2 {
    font-size: 2.5rem; }
  .productosGeneral .info p {
    font-size: 2rem; }
  .productosGeneral .info a {
    font-size: 1.5rem; }
  .marcas .contenedorTextoMarcas p {
    margin: 2rem auto;
    font-size: 2rem; }
  .marcas .contenedorTextoMarcas h1 {
    font-size: 4rem; }
  .marcas .contenedorTextoMarcas .productoPrincipal {
    font-size: 3rem; }
  .imgProdIphone13 {
    width: 22rem !important; }
  .imgProducto {
    width: 25rem;
    margin: 2.5rem; }
  .imgProducto2 {
    width: 25rem;
    margin: 2.5rem; }
  /* APPLE */
  .marcaProductos {
    width: max-content;
    max-width: 375px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.95fr .5fr .5fr .5fr .5fr .05fr; }
  /* SAMSUNG */
  .marcaProductos3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .65fr .9fr .9fr .9fr .05fr; }
  .imgSam1 {
    width: 35rem;
    margin: 2rem; }
  .imgSam2 {
    width: 35rem; }
  .imgSam3 {
    width: 36rem;
    margin: 0; }
  .contenedorGlob {
    grid-area: contenedorGlob;
    background-image: url(../multimedia/fondoNosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    max-width: 375px; }
    .contenedorGlob h1 {
      font-size: 4rem;
      color: #fff;
      text-align: center;
      margin: 2rem auto;
      width: 80%; }
    .contenedorGlob p {
      font-size: 2rem;
      color: #fff;
      text-align: center;
      margin: 1rem auto; } }
