
.contenedorContacto {
    height: 50rem;
    width: 100vw;
    background-image: url(https://www.lavoz.com.ar/resizer/Jp5Fi2RmjKe03HEbDJtadbTappE=/1023x682/smart/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/DGN73Z2CJFB3LELUNXH7T6W2QE.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;

    form {
        background: rgb(160, 158, 158);
        height: 30rem;
        width: 60rem;
        padding: 1rem;
        border: .3rem rgb(0, 0, 0) solid;
        display: inline-block;
        font-size: 1.5rem;
    }

    .formContacto{
        margin: .8rem;
    }

    .btn {
    margin: 1rem 0 0 45%;
    }
}
