.contenedor404 {
    h1 {
        text-align: center;
        font-size: 4.5rem;
        color: rgb(167, 10, 133);
    }

    p {
        text-align: center;
        color: black;
        font-size: 2rem;
    }
}