
/* CONTENEDOR PRINCIPAL CON FLEXBOX*/

.contenedorUno {
    background-image: url(../multimedia/imagenFondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.imagen {
    width: 60rem;
    margin:  0 2rem;
    transition: all .3s;
    &:hover {
        transform: scale(1.02, 1.02);
        transition: all .3s;
        }
}

.divMain {
    color: #ffff;
    text-align: left;
    font-size: 1.5rem;

    h1 {
        margin-top: 0rem;
        font-size: 8rem;
        padding-bottom: 1rem ;
        color: #ffff;
        text-shadow: 0 0 2rem rgb(167, 10, 133), 0 0 20px rgb(167, 10, 133), 0 0 2rem rgb(167, 10, 133), 0 0 2rem rgb(167, 10, 133);
    }

    $medidaGenerica: 4rem;                /* OPERACIONES CON UNA VARIABLE */

    h2 {
        display: block;
        font-size: $medidaGenerica;
        width: $medidaGenerica*15;
        height: $medidaGenerica;
        line-height: $medidaGenerica;
        overflow: hidden;
    }
}

.divEfecto {
    ul {
    list-style: none;
    animation: cambiar 10s infinite;
    }
}

@keyframes cambiar {
    0%{margin-top: -0.5rem;}
    20%{margin-top: -0.5rem;}

    25%{margin-top: -4.5rem ;}
    50%{margin-top: -4.5rem ;}

    55%{margin-top: -8.5rem ;}
    80%{margin-top: -8.5rem ;}

    85%{margin-top: -4.5rem ;}
    95%{margin-top: -4.5rem ;}

    100%{margin-top: -0.5rem ;}
}

/* SECTION DE MARCAS CON GRID*/

.samsung {
    grid-area: sam;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(../multimedia/fondoSam.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #ffff;
    .divTituloMarca {
        h3 {
            color: #ffff;
        }
    }
}

.contenedorMarcas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    width: 100vw;
    height: auto;
    grid-template-areas: 
    "moto moto"
    "apple apple"
    "sam sam"
    "footer footer";
    font-size: 2rem;

    .motorola img {
        height: 57rem;
        margin-top: 3rem;
        margin-left: -6.2;
    }
    
    .samsung img {
        height: 55rem;
        margin-top: 3rem;
    }

    .apple img {
        height: 53rem;
        margin: 3rem -5rem 0 -3rem;
    }
}

.fotoMarca {
    transition: all .35s;
    height: 600px;
    
    &:hover {
        transform: scale(.975, .975);
        transition: all .5s;
        cursor: pointer;
    }
}

.apple {
    grid-area: apple;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.divTituloMarca {
    margin-top: 6rem;
    text-align: center;
    font-size: 2rem;
    
    p {
        margin-top: 3.75rem;
        font-size: 3rem;
    } 
    h3 {
        font-size: 7rem;
        color: #0b090a;
    }
}

.motorola {
    grid-area: moto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(https://www.wallpapertip.com/wmimgs/91-918967_thumb-image-transparent-abstract-background-png.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}


.enlaceMarcas {
    text-decoration: none;
    list-style: none;
}

article {
    border-top: 1.5rem #0b090a solid;
    a {
        text-decoration: none;
        padding: 1.6rem;
    }
}



@media (max-width:768px) {

    .botonLanzamientos {
        margin-top: 1rem;
    }

    .divMain {
        margin-bottom: 2rem;
        h1 {
            margin-top: 5rem;
        }
    }
    .contenedorMarcas {
        .apple {
            img {
                margin: 3rem 20rem 0 20rem ;
            }
        }
    }
    
    .divTituloMarca {
        margin-top: 0rem;
        p {
            margin-top: 0;
        }
    }
    .imagen {
        
        &:hover {
            transform: none;
            }
}
    .navbar-toggler {
        margin-right: 5rem;
    }
}

@media (max-width:375px) {
    header {
        font-size: 2rem;
    }

    body {
        height: auto;
        width: max-content;
        max-width: 60rem;
        margin: 0;
        font-size: 50%;
}

    h2 {
        ul {
            li {
                margin-left: 5rem;
                font-size: 100%;
            }
    }
    }

    .divMain {
        margin-bottom: 2rem;
        h1 {
            font-size: 6rem;
            margin-left: 6rem;
            margin-top: 5rem;
        }
    }

    .divTituloMarca {
        margin-top: 0rem;
        p {
            margin-top: 0;
        }
    }
    .imagen {
        width: 55rem;
        &:hover {
            transform: none;
            }
    }
    

    .botonLanzamientos {
        margin-top: 1rem;
        a {
            font-size: 100%;
        }
    }

    .contenedorMarcas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        width: max-content;
        max-width: 60rem;

        .divTituloMarca {
            height: 15rem;
        }
    
        .apple {
            img {
            margin-top: 15rem;
            }
        }
    
        .motorola { 
            img {
            height: 55rem;
            margin-top: 12rem;
            }
        }
    
        .samsung {
            img {
            height: 55rem;
            margin-top: 12rem;
            }
        }
    }
    .navbar-toggler {
        margin-right: 5rem;
    }
    footer {
        p {
            font-size: 1.5rem;
            margin: 0 0 0 2rem;
        }
    }

} 