.marcaProductos2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.95fr 1fr 1fr 1fr .05fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "marcas marcas marcas"
      "productoMoto1 productoMoto1 productoMoto1"
      "productoMoto2 productoMoto2 productoMoto2"
      "productoMoto3 productoMoto3 productoMoto3"
      "footer footer footer";
  }
  
.h1Moto {
    margin: 7rem 1rem 1rem 1.5rem;
}
.imgMoto1{
    width: 50rem;
    margin-top: 5rem;
}
.imgMoto2{
    width: 50rem;
    margin-right: -11rem;
    margin-left: 5rem;
}
.imgMoto3{
    width: 50rem;
    margin-left: 12.5rem;
}
.marcasMoto {
    background-image: url(../multimedia/fondoOsc2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

  .productoMoto1 { 
    grid-area: productoMoto1;
    background-image: url(../multimedia/fondo-naranja-textura.png );
    background-size: cover;
    background-repeat: no-repeat;
}
  
  .productoMoto2 { 
    grid-area: productoMoto2;
    background-image: url(../multimedia/fondoGris.jpg );
    background-size: cover;
    background-repeat: no-repeat;
}
  
  .productoMoto3 { 
    grid-area: productoMoto3;
    background-image: url(../multimedia/fondoApple3.jpg );
    background-size: cover;
    background-repeat: no-repeat;
}


  .info {
    h2 {
        font-size: 5rem;
        color: #fff;
    }
    p {
        font-size: 3.5rem;
        
    }
    a {
        font-size: 2.5rem;
        color: #fff;
    }
}

@media screen and (max-width: 1024px) {
    .imgMoto2{
        width: 50rem;
        margin-right: 0;
        margin-left: 0;
    }
    .imgMoto3{
        width: 50rem;
        margin: 7rem;
    }
}

