* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Noto Sans Display', sans-serif;
    list-style: none;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
}

/* HEADER CON BOOTSTRAP */

header {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 2rem;
    background: #0b090a;
    nav {
        div {
            a {
                list-style: none;
                transition: all 0.4s !important;
                text-decoration: none;
                color: #fff !important;
                margin-left: 4rem !important;
                &:hover {
                    transform: translate(0, .5rem);
                    transition: all 0.3s;
                    text-shadow:  0 0 2rem rgb(167, 10, 133), 0 0 2rem rgb(167, 10, 133), 0 0 2rem rgb(167, 10, 133), 0 0 2rem rgb(167, 10, 133);
            }
        }
        }
    }
}

.movimientoImg {
    transition: all 0.4s;
    &:hover {
        transform: scale(1.02, 1.02);
        transition: all .3s;
    }
}

.logo {
    margin-left: 3rem;
    transition: all 0.3s;
    &:hover {
        transform: translate(0, .5rem);
        transition: all 0.3s;
    }
} 

/* FOOTER CON FLEXBOX */

footer {
    grid-area: footer;
    background-color: #0b090a;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    nav .logoInsta {
        width: 60px;
        margin: 1.5rem 4rem 1.5rem 1.5rem;
        transition: all .35s;
        &:hover {
            transform: rotateY(180deg);
            transition: all .35s;
        }
        }
    p {
        text-align: center;
        margin: 0 0 0 15rem;
        font-size: 2rem !important;
        color: #ffff;
    }
}

/* BOTONES */

.botonLanzamientos {
    display: inline-block;
    margin-top: 6rem;
    background: #06d6a0;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    a { 
        color: #fff !important;
    }
}

/* PÁGINAS DE PRODUCTOS */

.marcas {
    
    align-items: center;
    grid-area: marcas;
    text-align: center;
    .contenedorTextoMarcas {
        width: max-content;
        max-width: 100%;
        h1 {
        text-align: center;
        display: block;
        color: #fff;
        font-size: 6rem;
        font-weight: 600;
        }
        p {
            text-align: center;
            display: inline-block;
            color: #fff;
            font-size: 2.5rem;
            background-color: rgba(0, 0, 0, .6);
            margin: 2rem auto;
            padding: 1.5rem;
        }
        .productoPrincipal {
            text-align: center;
            color: #fff;
            font-size: 4rem;
            font-weight: 600;
            background-color: transparent !important;
            display: block;
        }
        }
    
}

.productosGeneral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    .info {
        h2 {
            font-size: 5rem;
        }
        p {
            font-size: 3.5rem;
        }
        a {
            font-size: 2.5rem;
        }
    }
}


@import "index";
@import "nosotros";
@import "motorola";
@import "apple";
@import "samsung";
@import "error"; 

@media screen and (max-width: 768px){
    body {
        width: 100%;
        max-width: 768px;
        font-size: 2rem;
        h1 {
            font-size: 4rem;
            width: 100%;
            max-width: 768px !important;
            text-align: center;
        }
        h2 {
            font-size: 2.5rem;
            width: 100% ;
            max-width: 768px;
        }
        a {
            font-size: 2rem ;
        }
        p {
            font-size: 2rem;
        }
    }
    .divTituloMarca{
        margin: 0 6rem;
    }
    .marcas {
        .contenedorTextoMarcas {
            p {
                margin: 2rem auto;
                font-size: 2rem;
            }
            h1 {
                font-size: 4rem;
                max-width: 80%;
                margin:2rem  auto;
            }
            .productoPrincipal {
                font-size: 3rem;
            }
        }
    }
    .h1Moto {
        margin: 2rem 0;
    }
    .divMain {
        width: 100%;
        max-width: 768px;
        h1 {
            font-size: 7rem ;
            max-width: 80% ;
            margin: 2rem  auto ;
        }
        h2 {
            font-size: 3.5rem;
            max-width: 80%;
            margin: 2rem 0 2rem 10.5rem ;
        }
    }
    .productosGeneral {
        .info {
            margin: 2rem 7rem;
            h2 {
                font-size: 2.5rem;
            }
            p {
                font-size: 2rem;
            }
            a {
                font-size: 1.5rem;
            }
        }
    }
    .botonLanzamientos{
        margin-top: 2rem;
    }
    /* PAG MOTOROLA */
    .marcasMoto {
        .info {
            margin: 10rem;
        }
    }

    .imgMoto1 {
        margin: 0;
        width: 50rem;
    }
    .imgMoto2 {
        margin: 0;
        width: 50rem;
    }
    .imgMoto3 {
        margin: 0;
        width: 50rem;
    }
    button {
        margin-right:5rem;
    }

    .imgSam1{
        width: 40rem;
        margin: 2rem 5rem;
    }
    .imgSam2{
        width: 40rem;
    }
    .imgSam3{
        width: 55rem;
        margin: 2rem -10rem 2rem -5rem;
    }

    .contenedorGlob { 
        grid-area: contenedorGlob;
        background-image: url(../multimedia/fondoNosotros.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        max-width: 768px;
        h1 {
            font-size: 6rem;
            color: #fff;
            text-align: center;
            margin: 2rem auto;
            width: 80%;
        }
        p {
            font-size: 3rem;
            color: #fff;
            text-align: center;
            margin:1rem auto;
        }
    }
}

@media screen and (max-width: 375px){
    body {
        width: 100%;
        max-width: 375px;
        font-size: 2rem;
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        a {
            font-size: 1.5rem;
            max-width: 100%;
        }
        p {
            font-size: 2rem;
        }
        
    }
    button {
        margin-right: 3rem;
    }
    .divTituloMarca{
        margin: 0 6rem;
        h3 {
            font-size: 3.5rem;
        }
        p {
            font-size: 2rem;
            margin: 0;
        }
    }
    .botonLanzamientos{
        margin-top: 2rem;
    }
    .divMain {
        width: 100%;
        max-width: 375px;
        h1 {
            font-size: 4rem;
            width: 80%;
            max-width: 375px;
            margin:2rem auto;
        }
        h2 {
            font-size: 2.5rem;
            width: 80%;
            max-width: 375px;
            margin: 1rem 0 1rem 2rem;
        }
    }
    .contenedorMarcas {
        .apple {
            img {
        margin: 0 !important;
            }
        }
    } 
    .contenedorPrincipal {
        max-width: 375px;
    }
    .imagen {
        width: 85%;
    }
    .contenedorMarcas {
        .motorola img {
            height: 30rem;
        }
        
        .samsung img {
            height: 30rem;
        }
    
        .apple img {
            height: 30rem;
            margin: 0;
        }
    }
    footer {
        p {
            margin: 0;
        }
    }

    /* PÁG MOTOROLA */
    .marcaProductos2 {
        width: 100%;
        max-width: 375px;
    }
    .marcasMoto {
        width: 100%;
        max-width: 375px;
    }
    .marcas {
        .contenedorTextoMarcas {
            width: max-content;
            max-width: 375px;
            p {
                margin: 2rem auto;
            }
        }
    }
    .imgMoto1 {
        margin: 0;
        width: 35rem;
    }
    .imgMoto2 {
        margin: 0;
        width: 35rem;
    }
    .imgMoto3 {
        margin: 0;
        width: 35rem;
    }
    .marcaProductos2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.95fr .5fr .5fr .5fr .05fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
    "marcas marcas marcas"
    "productoMoto1 productoMoto1 productoMoto1"
    "productoMoto2 productoMoto2 productoMoto2"
    "productoMoto3 productoMoto3 productoMoto3"
    "footer footer footer";
    }
    .productosGeneral {
        .info {
            h2 {
                font-size: 2.5rem;
            }
            p {
                font-size: 2rem;
            }
            a {
                font-size: 1.5rem;
            }
        }
    }
    .marcas {
        .contenedorTextoMarcas {
            p {
                margin: 2rem auto;
                font-size: 2rem;
            }
            h1 {
                font-size: 4rem;
            }
            .productoPrincipal {
                font-size: 3rem;
            }
        }
    }
    .imgProdIphone13 {
        width: 22rem !important;
    }
    .imgProducto {
        width: 25rem;
        margin: 2.5rem;
    }
    .imgProducto2 {
        width: 25rem;
        margin: 2.5rem;
    }

    /* APPLE */
    .marcaProductos {
        width: max-content;
        max-width: 375px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.95fr .5fr .5fr .5fr .5fr .05fr;
    }

    /* SAMSUNG */
    .marcaProductos3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .65fr .9fr .9fr .9fr .05fr;
    }
    .imgSam1{
        width: 35rem;
        margin: 2rem ;
    }
    .imgSam2{
        width: 35rem;
    }
    .imgSam3{
        width: 36rem;
        margin: 0;
    }
    
.contenedorGlob { 
    grid-area: contenedorGlob;
    background-image: url(../multimedia/fondoNosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    max-width: 375px;
    h1 {
        font-size: 4rem;
        color: #fff;
        text-align: center;
        margin: 2rem auto;
        width: 80%;
    }
    p {
        font-size: 2rem;
        color: #fff;
        text-align: center;
        margin:1rem auto;
    }
}
}